html
  head
    title= title
    style
      include style.css
  body
    div.index
      a.prev(href='../low/0') Low alkohol (<5%)
      a.next(href='./low/') All (<5%)
      br
    div.index
      a.prev(href='../medium/0') Medium alkohol (5-10%)
      a.next(href='./medium/') All (5-10%)
      br
    div.index
      a.prev(href='../med-high/0') medium-high alkohol (10-22%)
      a.next(href='./med-high/') All (10-22%)
      br
    div.index
      a.prev(href='../high/0') high alkohol (>22%)
      a.next(href='./high/') All (>22%)
