html
  head
    title= title
  body
    a.menu(href='../low/0') Low alkohol (<5%)
    a.menu(href='./low/') All (<5%)
    br
    a.menu(href='../medium/0') Medium alkohol (5-10%)
    a.menu(href='./medium/') All (5-10%)
    br
    a.menu(href='../med-high/0') medium-high alkohol (10-22%)
    a.menu(href='./med-high/') All (10-22%)
    br
    a.menu(href='../high/0') high alkohol (>22%)
    a.menu(href='./high/') All (>22%)
